html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
	min-width: 840px;
}

#header {
	width: 100%;
	position: fixed;
	height: 80px;
	top: 0;
	background: #000000;
	font-family: 'Roboto Slab', serif;
	z-index: 50;
	/*border-bottom: 2px #000 solid;*/
}

#menu {
	text-align: center;
	float: right;
	width: -moz-calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
	width: -o-calc(100% - 90px);
	width: calc(100% - 90px);
	display: inline-block;
}

@media all and (max-width: 840px) {
	#menu {
		position: fixed;
		width: 760px;
	}
}

#main_content {
	width: 100%;
}

section {
	padding-top: 80px;
	min-height: 500px;
	z-index: 5;
	background: #aaa;
}

.nav {
	padding: 40px 3% 0 3%;
	display: inline-block;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

#home {
	background: url(../1.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 70px;
	text-align: center;
	height: 800px;
}

#about {
	background: url(../2.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 10px;
	height: 800px;
	overflow: hidden;
}

#services {
	background: url(../3.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 70px;
	height: 800px;
}

#our_work {
	background: url(../4.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 70px;
	height: 800px;
}

#testimonials {
	background: url(../5.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 70px;
	height: 1200px;	
}

#community {
	background: url(../1.jpg) no-repeat fixed;
	background-size: 100% auto;
	background-position: 50% 70px;
	height: 800px;
}

.fade {
	position: absolute;
	top: 80px;
	height: 800px;
	width: 100%;
	background-color: #0000FF;
	opacity: .3;
	z-index: 6;
}

#fade_about {
	background-color: #FCFF18;
	height: 880px;
	top: 880px;
	opacity: .6;
}

#fade_services {
	background-color: #B31B1B;
	height: 880px;
	top: 1760px;
}

#fade_our_work {
	background-color: #A544BE;
	height: 880px;
	top: 2640px;
	opacity: .5;
}

#fade_testimonials {
	background-color: #258E2D;
	height: 1280px;
	top: 3520px;
	opacity: .5;
}

.section_content {
	position: relative;
	z-index: 7;
	top: 30px;
	margin: 0 auto;
	width: 840px;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	color: #FFFFFF;
}

.subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
}

.subsubtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	position: relative;
	left: 300px;
	top: 40px;
}

#motivate {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	position: relative;
	top: 80px;
	font-size: 40px;
	color: #FFFFFF;
}

#circle_nav {
	width: 900px;
	height: 300px;
	margin: 0 auto;
}

.circle {
	position: relative;
	top: 180px;
	margin-left: 20px;
	margin-right: 30px;
	float: left;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: #FF870E;
    z-index: 100;
    color: #FFFFFF;
}

.circle_text {
	position: relative;
	top: 53px;
	font-family: 'Roboto Slab', serif;
}

.circle:hover {
	color: #D75600;
	background-color: #FFFFFF;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

#about_img {
	position: absolute;
	top: 75px;
	left: 0px;
	/*left: -110px;*/
}

#about_text {
	position: absolute;
	top: 180px;
	left: 300px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 100;
	z-index: 6;
}

#about_box {
	width: 575px;
	height: 440px;
	background-color: #000000;
	opacity: .3;
	position: absolute;
	top: 160px;
	left: 280px;
	z-index: 1;
}

#services_box {
	width: 505px;
	height: 230px;
	background-color: #000000;
	opacity: .3;
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 1;
}

#services_text {
	position: absolute;
	top: 130px;
	left: 40px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 100;
	z-index: 6;
}

#construction {
	position: absolute;
	top: 390px;
	left: 40px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 100;
	z-index: 6;
}

#construction_box {
	width: 505px;
	height: 190px;
	background-color: #000000;
	opacity: .3;
	position: absolute;
	top: 360px;
	left: 10px;
	z-index: 1;
}

ul, li {
	margin-left: 15px;
	list-style: none;
	list-style-type: disc;
}

#dd {
	text-decoration: underline;
}

#locations {
	position: absolute;
	top: 130px;
	left: 600px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 100;
	z-index: 6;
}

#locations_box {
	width: 305px;
	height: 450px;
	background-color: #000000;
	opacity: .3;
	position: absolute;
	top: 100px;
	left: 550px;
	z-index: 1;
}

.slider-wrapper { 
	width: 80%; 
	margin: 100px auto;
}

#clients {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 40px;
	position: relative;
	text-align: center;
	top: 20px;
}

#testimonials_content {
	height: 850px;
	background-color: #000000;
	opacity: .4;
	position: relative;
	width: 640px;
	top: 40px;
	float: right;
}

#name_select {
	height: 850px;
	background-color: #000000;
	opacity: .2;
	position: relative;
	width: 200px;
	float: left;
	top: 40px;
	z-index: 1;
}

#name_list {
	z-index: 5;
	color: #FFFFFF;
	position: absolute;
	top: 160px;
	left: -30px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 20px;
	line-height: 30px;
}

.names {
	list-style-type: none;	
	width: 170px;
	/*background-color: #E49F28;*/
	padding-left: 30px;
}

.names:hover {
	color: #EBEE57;
	cursor: pointer;
}

.words {
	position: absolute;
	color: #FFFFFF;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-size: 18px;
	width: 580px;
	margin-left: 40px;
	margin-right: 40px;
	display: none;
	top: 160px;
	left: 190px;
	line-height: 24px;
}

